@tailwind base;
@tailwind components;
@tailwind utilities;

/* frontend/src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  background-color: #f6f6f6;
}

#root {
  width: 100%;
}
